<div id="main" class="page" itemscope itemprop="blogPost">
	<article itemprop="articleBody"> 
	<header class="article-info clearfix">
	  <h1 itemprop="name">
	    <%= item.title %>
	  </h1>
	</header>
	<div class="article-content">
		<%- item.content %>  
	</div>  	       
	</article>
</div>  