<div class="linkslist">
    <p class="asidetitle"><%= __('recent_posts') %></p>
    <div class="linkslist clearfix">
		<%- recent_posts({ 	count: 6, 
							ulClass: '',
    						liClass: ''}) %>
	</div>
</div>